# This file is automatically parsed by setup.py
# to add another dependency, list the name with a two #s preceding it
# and then all the dependencies (in pip freeze format) immediately after.

# Generally, don't mess with this file unless you know what you are doing.

## MPDS
ujson==3.0.0
jmespath==0.10.0
httplib2==0.18.1
ase==3.19.1

## dscribe
dscribe==0.3.5

## MDF-forge
mdf-forge==0.7.6

## AFLOW
aflow==0.0.11

## Citrine
citrination-client==6.5.0