# This file is automatically parsed by setup.py
# to add another dependency, list the name with a two #s preceding it
# and then all the dependencies (in pip freeze format) immediately after.

# Generally, don't mess with this file unless you know what you are doing.

## MPDS
ujson==5.2.0
jmespath==1.0.0
httplib2==0.20.4
ase==3.22.1

## dscribe
dscribe==1.2.1

## MDF-forge
mdf-forge==0.8.0

## AFLOW
aflow==0.0.11

## Citrine
citrination-client==6.5.1