name: Full test


# Run this workflow only on release
on:
  - release
  - workflow_dispatch

jobs:

  test:
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8]
        mongodb-version: ['4.0']

    runs-on: ubuntu-latest

    env:
      PMG_MAPI_KEY: ${{ secrets.PMG_MAPI_KEY }}
      MPDS_KEY: ${{ secrets.MPDS_KEY }}
      CITRINATION_API_KEY: ${{ secrets.CITRINATION_API_KEY }}
      RUNNING_ON_GHACTIONS: "True"
      MATMINER_DATASET_FULL_TEST: True
      MPLBACKEND: "Agg"

    steps:
    - uses: actions/checkout@v2

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.6.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run full tests including dataset downloads
      run: |
        mongo localhost/admin --eval 'db.createUser({user: "admin",pwd: "password",roles: [ { role: "root", db: "admin" } ]})'
        python3 -m venv test_env
        . test_env/bin/activate
        python -m pip install --upgrade pip
        pip install -r requirements.txt -r requirements-dev.txt -r requirements-optional.txt
        pip install .
        pytest --cov=matminer matminer
