name: Full test


# Run this workflow only on release
on:
  - release
  - workflow_dispatch

jobs:

  test:
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.8", "3.9"]
        mongodb-version: ['4.0']

    runs-on: ubuntu-latest

    env:
      PMG_MAPI_KEY: ${{ secrets.PMG_MAPI_KEY }}
      MPDS_KEY: ${{ secrets.MPDS_KEY }}
      CITRINATION_API_KEY: ${{ secrets.CITRINATION_API_KEY }}
      RUNNING_ON_GHACTIONS: "True"
      MATMINER_DATASET_FULL_TEST: True
      MPLBACKEND: "Agg"

    steps:
    - uses: actions/checkout@v2

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.6.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"

    - name: Install Python dependencies
      shell: bash -l {0}
      run: |
        python${{ matrix.python-version }} -m pip install --upgrade pip pip-tools
        python${{ matrix.python-version }} -m piptools sync --user requirements/ubuntu-latest_py${{ matrix.python-version }}_extras.txt
        # Using non-editable install for testing building of MANIFEST files
        python${{ matrix.python-version }} -m pip install --no-deps .

    - name: Run full tests including dataset downloads
      run: |
        # Sleeping to allow mongo a bit more time to boot, avoiding connect errors
        sleep 10
        mongo localhost/admin --eval 'db.createUser({user: "admin",pwd: "password",roles: [ { role: "root", db: "admin" } ]})'
        python${{ matrix.python-version }} -m pytest --cov=matminer matminer
