name: Linting

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.9]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt --quiet
    - name: black
      run: |

        # Black step should fail if there are any errors
        black --version
        black --check --diff --color matminer
    - name: pylint
      run: |
        pylint --fail-under=9 matminer
    - name: flake8
      run: |
        flake8 --version
        flake8 --count --show-source --statistics matminer
        # exit-zero treats all errors as warnings.
        flake8 --count --exit-zero --max-complexity=20 --statistics matminer
